@model OLESClass.Answer
@using (Html.BeginForm("CreateAnswer", "Test", FormMethod.Post))
{
@Html.AntiForgeryToken()

<input type="number" id="questionCount" name="quantity" min="1" max="10" />
<div class="form-horizontal">
    <table id="AnswersTable">
        <tr>
            <td>
                <div class="form-group">
                    @Html.HiddenFor(model => model._id, null)
                    @Html.LabelFor(model => model.AnswerText, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.AnswerText, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.AnswerText, "", new { @class = "text-danger" })
                    </div>
                </div>
            </td>
            <td>
                <div class="form-group">

                    @Html.LabelFor(model => model, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Checked)
                            @Html.ValidationMessageFor(model => model.Checked, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <div class="form-group">

    </div>


</div>
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="/scripts/jquery.validate.min.js" type="text/javascript"></script>
<script src="/scripts/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
<script>
    var text = $('#AnswersTable').html();
    $('#questionCount').bind('click keyup', function () {
        var count = $(this).val();
        var insideText = "";
        for (var i = 0; i < count; i++) {
            insideText += text;
        }
        $('#AnswersTable').html(insideText);
    });
</script>
